{{ define "main" }}

{{ $title := replace (replaceRE ".json$" "" $.Params.ramayanaalignment) "_" " " }}

<style>
    #audio-and-text-container h1 {
        text-align: center;
    }
    #text-ramayana {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        /* rtl (reverted to ltr inside) is a hack to get scrollbar on the left */
        direction: rtl;
        line-height: 1.2;
        /* Hack: 54px is max height of audio element, across Safari (31px), Firefox (40px) and Chrome, on my machine. 
        But what we really want is probably (on sufficiently wide screens) the audio element off to the side, and scrolling normally. */
        max-height: min(90vh, calc(100vh - 54px), 30rem);
        background-color: lightgrey;
        max-width: 30rem;
        overflow-y: scroll;
        /* https://stackoverflow.com/a/31315821 but TODO look for something more subtle: https://css-tricks.com/thats-just-how-i-scroll/ Example 3 */
        /* box-shadow: inset 0 -25px 50px -35px rgba(0, 0, 0, 1); */
    }
    #text-ramayana-inner {
        direction: ltr;
        /* Not too close to scrollbar */
        margin-left: 1em;
    }

    #text-ramayana-inner p {
        transition: all 0.5s ease-in-out;
    }

    .line-being-read {
        font-weight: bold;
    }

    audio {
        display: block;
        width: min(100%, 40rem);
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div id="audio-and-text-container">
    <h1>{{ $title }}</h1>

    <audio controls id="audio-ramayana" src="{{ .Params.ramayanaaudiourl }}"></audio>

    {{ $alignmentPath := printf "data/audio_alignment/ramayana/sentence_alignment/%#s" $.Params.ramayanaalignment }}

    <div id="text-ramayana">
        <div id="text-ramayana-inner">
        {{- $dataJSON := getJSON $alignmentPath -}}
        {{ range $fragment := (index $dataJSON "fragments") }}
            {{- /* We assume there is just one line */ -}}
            {{- $line := (index $fragment.lines 0) -}}
            <p class="line-ramayana" begin="{{$fragment.begin}}">{{$line}}</p>
        {{ end }}
    </div>
</div>

</div>


<script src="{{ "align.js" | relURL }}"></script>

{{ end }}
